.select
  position: relative
  color: var(--secondary-color)
  width: 150px
  height: 30px

  .select-selected
    border: 1px solid var(--secondary-color)
    border-radius: 10px
    box-sizing: border-box
    height: inherit

    .icon
      margin-right: 20px

  .select-selected:after
    position: absolute
    top: 12px
    right: 10px
    content: ""
    width: 0
    height: 0
    border: 6px solid transparent
    border-color: var(--secondary-color) transparent transparent transparent

  .select-selected.open:after
    top: 6px
    border-color: transparent transparent var(--secondary-color) transparent

  .select-selected, .option
    padding: 5px 10px
    cursor: pointer
    user-select: none

  .select-options
    width: inherit
    position: absolute
    top: 105%
    z-index: 1000

    & > .option:first-child
      border: 1px solid var(--secondary-color)
      border-color: var(--secondary-color) var(--secondary-color) transparent var(--secondary-color)
      border-top-left-radius: 10px
      border-top-right-radius: 10px

    .option
      border: 1px solid var(--secondary-color)
      border-color: var(--secondary-color) var(--secondary-color) transparent var(--secondary-color)
      background: #FFF

      .icon
        margin-right: 20px

    & > .option:last-child
      border: 1px solid var(--secondary-color)
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px

    .option.selected, .option:hover
      background: var(--secondary-color3)

  .select-options-hide
    display: none

.select.bright
  color: var(--primary-color)

  .select-selected
    border: 1px solid var(--primary-color)

  .select-selected:after
    border-color: var(--primary-color) transparent transparent transparent

  .select-selected.open:after
    border-color: transparent transparent var(--primary-color) transparent

  .select-options
    & > .option:first-child
      border: 1px solid var(--primary-color)
      border-color: var(--primary-color) var(--primary-color) transparent var(--primary-color)

    .option
      border: 1px solid var(--primary-color)
      border-color: var(--primary-color) var(--primary-color) transparent var(--primary-color)

    & > .option:last-child
      border: 1px solid var(--primary-color)

    .option.selected, .option:hover
      background: var(--primary-color3)

