.loader
  width: 200px
  height: 200px
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center
  background: rgba(255,255,255,0.65)

  .spinner
    width: 50%
    height: 50%
    border: 20px solid var(--primary-color1)
    border-top: 20px solid var(--primary-color)
    border-radius: 50%
    animation: spin 2s linear infinite

@keyframes spin
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }

