.tile
  width: 70.5px
  height: 70.5px
  border: 2px solid #F5B7B1
  border-radius: 6px
  box-shadow: 0 0 5px #F1948A
  background: #FADBD8
  margin: 1.5px
  font-size: 3.5rem
  display: flex
  align-items: center
  justify-content: center
  color: #EC7063
  cursor: pointer
  user-select: none

.tile:active
  background: #F5B7B1

@media screen and (min-width: 768px)
  .tile
    width: 80.5px
    height: 80.5px

