.tile
  width: 68px
  height: 68px
  border: 2px solid var(--secondary-color1)
  border-radius: 6px
  box-shadow: 0 0 5px #B2BABB
  background: #ECECEC
  margin: 1.5px
  font-size: 3rem
  display: flex
  align-items: center
  justify-content: center
  color: var(--secondary-color)
  cursor: pointer
  user-select: none

.tile.bright
  border: 2px solid var(--primary-color2)
  box-shadow: 0 0 5px var(--primary-color1)
  background: #FADBD8
  color: var(--primary-color)

.tile:active
  background: var(--secondary-color1)

.tile.bright:active
  background: var(--primary-color2)

.tile.shake
  animation: shake 100ms linear infinite

@keyframes shake
  0% { transform: translateX(0px) rotate(0deg) }
  20% { transform: translateX(3px) rotate(5deg) }
  40% { transform: translateX(-3px) rotate(-5deg) }
  60% { transform: translateX(3px) rotate(5deg) }
  80% { transform: translateX(-3px) rotate(-5deg) }
  100% { transform: translateX(0px) rotate(0deg) }

@media screen and (min-width: 768px)
  .tile
    width: 80.5px
    height: 80.5px
    font-size: 3.5rem

