.settings-dialog
  .select
    margin-bottom: 10px

@media screen and (min-width: 768px)
  .settings-dialog
    .select
      margin-bottom: 15px

      .select-selected:after
        top: 14px

      .select-selected.open:after
        top: 8px

@media screen and (min-width: 1028px)
  .settings-dialog
    .select
      margin-bottom: 20px

      .select-selected:after
        top: 16px

      .select-selected.open:after
        top: 10px

      .icon
        img
          width: 20px

    .checkbox
      .checkmark:after
        border-width: 0 3px 3px 0

