@font-face
  font-family: 'Led'
  src: url('../fonts/led.ttf') format('truetype')
  font-weight: 600 
  font-style: normal

body
  min-height: 100vh
  margin: 0
  display: flex
  align-items: center
  justify-content: center
  perspective: 1000px

button
  border: 1px solid #EC7063
  box-shadow: 0 0 3px 2px #F1948A
  border-radius: 20px
  background: #FADBD8
  font-weight: bold
  cursor: pointer
  outline: none
  color: #EC7063
  text-transform: uppercase
  padding: 3px

button:active
  background: #F5B7B1

button:disabled
  background: #ECECEC
  border: 1px solid #D5D8DC
  box-shadow: 0 0 3px 2px #B2BABB
  color: #B2BABB
  cursor: auto

