.display
  border: 2px solid #D5D8DC
  border-radius: 10px
  box-shadow: 0 0 5px #B2BABB
  padding: 10px 40px
  font-family: 'Led'
  color: #B2BABB
  font-size: 2em
  display: flex
  flex-direction: column
  justify-content: center

  .clock
    margin-bottom: 10px

  .on
    color: #EC7063

@media screen and (min-width: 520px)
  .display
    font-size: 1.5em
    padding-left: 20px
    padding-right: 20px

    .clock, .move-counter
      width: 140px

@media screen and (min-width: 1024px)
  .display
    font-size: 3.5em
    flex-direction: row
    align-items: center
    justify-content: space-between

    .clock
      margin-bottom: 0

    .clock, .move-counter
      height: 100px

      img
        width: 40px
        height: 40px

    .clock
      width: 320px
    
    .move-counter
      width: 220px

