.display
  border: 2px solid #D5D8DC
  border-radius: 10px
  box-shadow: 0 0 5px #B2BABB
  padding: 10px 40px
  font-family: 'Led'
  color: #566573
  font-size: 3.5em
  display: flex
  flex-direction: column
  justify-content: center

  .clock
    margin-bottom: 15px

@media screen and (min-width: 500px)
  .display
    padding-left: 20px
    padding-right: 20px

    .clock, .move-counter
      width: 125px

@media screen and (min-width: 768px)
  .display
    .clock, .move-counter
      height: 50px

@media screen and (min-width: 1024px)
  .display
    flex-direction: row
    align-items: center
    justify-content: space-between

    .clock
      margin-bottom: 0

    .clock
      width: 320px
      height: 100px
    
    .move-counter
      width: 220px
      height: 100px

