.warning
  .message
    text-align: center
    font-size: 1.6em
    margin-top: 20px

@media screen and (min-width: 520px)
  .warning
    .message
      font-size: 1.8em
      padding: 0 10px

@media screen and (min-width: 1024px)
  .warning
    .message
      font-size: 1.8em
      padding: 0 20px

