.remote-control
  border: 2px solid #D5D8DC
  border-radius: 10px
  box-shadow: 0 0 5px #B2BABB
  padding: 10px 40px
  display: flex
  flex-direction: column
  justify-content: center
  background: linear-gradient(225deg, #FFF, #F8F9F9 70%)

  button
    font-size: 13px

  button + button
    margin-top: 15px

@media screen and (min-width: 500px)
 .remote-control
   padding-left: 20px
   padding-right: 20px

   button
     width: 125px







