.remote-control
  border: 2px solid #D5D8DC
  border-radius: 10px
  box-shadow: 0 0 5px #B2BABB
  padding: 20px 40px
  display: flex
  flex-direction: column
  background: linear-gradient(225deg, #FFF, #F8F9F9 70%)

  button + button
    margin-top: 15px

button
  width: 200px
  height: 40px
  border: 1px solid #EC7063
  box-shadow: 0 0 3px 1px #F1948A
  border-radius: 20px
  background: #FADBD8
  font-size: 18px
  font-weight: bold
  cursor: pointer
  outline: none
  color: #EC7063
  text-transform: uppercase

button:active
  background: #F5B7B1
